<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%= @description %>" />
    <meta name="keywords" content="<%= Array.wrap(@keywords).concat(['GitLab', 'core', 'contributors']).join(',') %>" />
    <meta name="author" content="Xavier Noria" />
    <meta name="designer" content="José Espinal" />

    <title><%= normalize_title(@title) %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <div id="topBar">
      <div class="wrapper">
        <%= render 'layouts/top_bar_content' %>
      </div>
    </div>
    <div id="header">
      <div class="wrapper">
        <div id="logo">
          <%= link_to image_tag("gitlab_logo.png"), root_path, height: "100px", width: "155px"  %>
        </div>
        <h1>GitLab Contributors</h1>
      </div>
    </div>
    <div id="header-shadow">
      <div class="wrapper">
        <div id="container">
          <div id="content">
            <div id="content-in">
              <%= yield %>
            </div>
          </div>
          <div id="sidebar">
            <%= yield :sidebar %>
          </div>
          <div id="bottom"></div>
        </div>
      </div>
    </div>
  </body>
</html>
